<h1>Tweets#index</h1>
<p>Find me in app/views/tweets/index.html.erb</p>
<input type="text" class="form-control"></input>



<div class="form-group">
  <label for="exampleFormControlTextarea1">Example textarea</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>